<h2>Arrays</h2>

We can use the <code>each</code> helper to iterate over every element in an array. The variable, <code>this</code> will contain the value of every element:

<p>
numbers

<ul>
{{#each numbers}}
	<li>{{this}}</li>
{{/each}}
</ul>

words

<ul>
{{#each words}}
	<li>{{this}}</li>
{{/each}}
</ul>
</p>
