<h2>Objects</h2>

We can use <code>each</code> to iterate over every property in an object. Use the <code>#each</code> helper along with <code>@key</code> for property names and <code>this</code> for property values:

<ul>
{{#each obj}}
	<li>{{@key}} {{this}}</li>
{{/each}}
</ul>

