<h3>POST demo</h3>
<form method="POST" action="post-demo">
<div><label>Item</label></div>
<div><input type="text" name="item"></div>
<div><label>Description</label></div>
<div><textarea name="description"></textarea></div>
<div><input type="submit"></div>
</form>
