button {
	width: 3em;
	height: 3em;
	background-color: #aaa;
	border: 0;
	margin: 5px;
}
body {
	font-family: sans-serif;
	font-size: 2em;
}

#container {
	padding: 10px;
	display: flex; 	

	/* 
	flex-direction: row-reverse; 
	flex-direction: column; 
	flex-wrap: wrap;

	justify-content: flex-end;
	justify-content: space-around;

	align-items: center;
	flex-direction: column; 
	flex-wrap: wrap;
	*/


}

.item {
	display: flex;
	background-color: #599;
	margin: 10px;
	padding: 1em;
	overflow: hidden;
}

/*
#item1 { 
	order: 5;
}
*/

