<!doctype html>

<html>
<head>
<title></title>
<link rel="stylesheet" href="/css/base.css" type="text/css">
</head>

<body>
<h2>Class 11 Demo</h2>
<a href="/">Home</a> | <a href="/home">Home Redirect</a> | <a href="post-demo">POST Demo</a> | <a href="/?description=this is a query string">GET Demo</a>
<div>
{{{ body }}}
</div>
</body>
</html>
